.emoji-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    background: #F28EB4;
    border-radius: 5px;
    box-shadow: #F9D0E0
}

.emoji-img{
    margin: 8px;
}

.emoji-img :hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

.emoji-title{
    font-size: 1.5em;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    text-align: center;
}

@media (max-width:768px){
    .emoji-title{
        width: 150px;
    }
}

